<h1 id="merchant_name"><%= "#{@merchant.name} Items" %></h1>

<h2>All Items:</h2>
<section id="all_merchant_items">

<section id="enabled_items">
  <h3> All Enabled Items </h3>
  <% @merchant.items.each do |item| %>
    <% if item.status == "enabled" %>
      <p><strong><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></strong><p>
        <li><strong>Description: </strong><%= "#{item.description}" %></li>
        <li><strong>Current Price: </strong><%= "#{number_to_currency(item.unit_price/100.0)}" %></li>
        <li><strong>Item Status: </strong><%= "#{item.status}" %></li>
      <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, data: {turbo: false} do |f| %>
        <%= f.hidden_field :status, :value => "disabled" %>
        <%= f.submit "Disable #{item.name}" %>
      <% end %>
    <% end %>
  <% end %>
</section>

<section id="disabled_items">
  <h3>All Disabled Items </h3>
    <% @merchant.items.each do |item| %>
      <% if item.status == "disabled" %>
        <p><strong><%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %></strong></p>
          <li><strong>Description: </strong><%= "#{item.description}" %></li>
          <li><strong>Current Price: </strong><%= "#{number_to_currency(item.unit_price/100.0)}" %></li>
          <li><strong>Item Status: </strong><%= "#{item.status}" %></li>
        <%= form_with url: "/merchants/#{@merchant.id}/items/#{item.id}", method: :patch, data: {turbo: false} do |f| %>
          <%= f.hidden_field :status, :value => "enabled" %>
          <%= f.submit "Enable #{item.name}" %>
        <% end %>
      <% end %>
    <% end %>
</section>
</section>

<h2>Popular Items:</h2>
<section id="popular_merchant_items">
<% @merchant.most_popular_items.each do |item| %>
    <li>Top selling date for <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}" %> was <%= item.updated_at.strftime("%A, %B %d, %Y") %>
    <li>Total revenue <%= number_to_currency(item.sum/100.0) %>
  <% end %>
</section>

<h2>Create Items:</h2>
<ul id="merchant_items_create">
  <li><%= link_to "Add Item", "/merchants/#{@merchant.id}/items/new" %></li>
</ul>